@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@font-face {
  font-family: "kppuskum";
  src: url(./font/kppuskum.ttf) format("truetype");
}
@font-face {
  font-family: "Super Bubble";
  src: url(./font/SuperBubble.ttf) format("truetype");
}
.t2 {
  font-family: "kppuskum";
}

.t4 {
  font-family: "VT323";
}

#sideBox {
  display: none;
}
#sideBox.view {
  animation: a02_displaySlow 1s linear;
  display: block;
}
#sideBox #sideDifficulty {
  width: 80%;
  height: 50%;
  position: absolute;
  top: 30%;
  left: 10%;
  display: none;
  justify-content: space-around;
  align-items: center;
}
#sideBox #sideDifficulty.view {
  display: flex;
}
#sideBox #sideDifficulty span {
  display: inline-block;
  padding: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#sideBox #sideDifficulty .diffTitle {
  position: absolute;
  top: -30%;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sideBox #sideDifficulty .diffTitle .t1 {
  display: block;
  font-size: 10px;
}
#sideBox #sideDifficulty .diff {
  flex-basis: 30%;
  height: 50%;
  flex-grow: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sideBox #sideDifficulty .diff span {
  cursor: pointer;
}
#sideBox #sideDifficulty div:nth-last-child(1) span:hover {
  background: linear-gradient(to right, #000000 40%, #a5a5a5 50%, #000000 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% auto;
  animation: a01_colorshow 5s linear infinite normal;
}
#sideBox #sideDifficulty div:nth-last-child(2) span:hover {
  background: linear-gradient(to right, #000000 10%, #fe0404 20%, #f8f81f 30%, #1736ff 70%, #2aff4a 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% auto;
  animation: a01_colorshow 3s linear infinite alternate;
}
#sideBox #sideRealDifficulty {
  width: 80%;
  height: 50%;
  position: absolute;
  top: 30%;
  left: 10%;
  background-color: aqua;
  display: none;
  justify-content: space-around;
  align-items: center;
}
#sideBox #sideRealDifficulty.view {
  display: flex;
}
#sideBox #sideRealDifficulty .diffRTitle {
  position: absolute;
  top: -30%;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sideBox #sideRealDifficulty .diffRTitle .t1 {
  display: block;
  font-size: 10px;
}
#sideBox #sideRealDifficulty .diffRTitle .t2, #sideBox #sideRealDifficulty .diffRTitle .t4 {
  display: none;
}
#sideBox #sideRealDifficulty .diffRTitle .t2.view, #sideBox #sideRealDifficulty .diffRTitle .t4.view {
  display: inline-block;
}
#sideBox #sideRealDifficulty .diff {
  flex-basis: 30%;
  height: 50%;
  background-color: rgb(73, 197, 64);
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
#sideBox #sideRealDifficulty .diff .t2, #sideBox #sideRealDifficulty .diff .t4 {
  display: none;
  transform: scale(50%);
}
#sideBox #sideRealDifficulty .diff .t2.view, #sideBox #sideRealDifficulty .diff .t4.view {
  display: inline-block;
}
#sideBox #sideRealDifficulty .diff .monsterBox {
  display: flex;
  justify-content: center;
  gap: 15%;
}
#sideBox #sideRealDifficulty .diff .monsterBox div {
  flex-grow: 0;
  flex-shrink: 0;
}
#sideBox #sideTextPrompt {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 10%;
  display: none;
  font-size: 16px;
  line-height: 6em;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: wrap;
  text-overflow: ellipsis;
}
#sideBox #sideTextPrompt.view {
  display: block;
}
#sideBox #sideTextPrompt .storyEN {
  font-family: "VT323";
}
#sideBox #sideTextPrompt .storyKR {
  font-family: "kppuskum";
}
#sideBox #sideTextPrompt .b00 {
  font-weight: 600;
  font-family: "Super Bubble";
  font-size: calc(1em - 10px);
}
#sideBox #sideTextPrompt .b01 {
  font-weight: 600;
  font-size: calc(1em + 20px);
}
#sideBox #sideTextPrompt .b02 {
  font-weight: 800;
}

@keyframes a01_colorshow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes a02_displaySlow {
  0% {
    color: white;
  }
  100% {
    color: black;
  }
}
@keyframes a03_beating {
  0% {
    transform: scaleX(100%) scaleY(100%);
  }
  20% {
    transform: scaleX(90%) scaleY(110%);
  }
  80% {
    transform: scaleX(110%) scaleY(90%);
  }
  100% {
    transform: scaleX(100%) scaleY(100%);
  }
}/*# sourceMappingURL=index.css.map */